@media screen and (max-width:768px) {
    table {
        width: 100%;
        margin-top: 0rem !important;
    }

    .rightWrapper {
        width: 100%;
        border-bottom: none !important;
    }

    .leftWrapper {
        width: 100%;
    }
}

@media screen and (min-width:769px) {
    table {
        width: 90%;
        margin: 4rem auto !important;
    }

    .rightWrapper {
        width: 80%;
        border-left-width: 0px !important;
    }

    .leftWrapper {
        width: 20%;
    }
}

body {
    background-color: #ffffcc;
    color: #330000;
    font-family: Verdana;
}

td {
    border: 1px solid #111;
}

.side {
    background-color: #ca6;
    text-align: center;
}

.header {
    border: 1px solid #111;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    border-bottom: none;
}

.plateTitle {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;
}

.footer {
    border: 1px solid #111;
    padding: .5rem;
    border-top: none;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.rightWrapper {
    border: 1px solid #111;
    background-color: #f1e8b0;
    box-sizing: border-box;
    padding-bottom: 2rem;
}

.rightContent {
    padding: 1rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.leftWrapper {
    box-sizing: border-box;
    border: 1px solid #111;
    background-color: #E8D882;
}


.leftContent {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
}

.leftContent a {
    text-decoration: none;
    line-height: 2rem;
    color: blue;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: space-around;
}

.footerContent>a {
    text-decoration: none;
    color: blue;
}

.rightContentList {
    margin: 2rem 2rem 2rem 0;
}

.rightContent ul {
    list-style: square;
    margin-left: 1rem;
}

table {
    border: 1px solid #111;
    border-collapse: collapse;
}